


page-home {
.subtitle{font-family: 'PT Sans', sans-serif;

}
  .title{ margin-left: 1px;
    font-family: 'PT Sans', sans-serif;
    font-size: larger;
}
  .background{

    background: url("../../assets/planker[1812].jpg");
    background-repeat: no-repeat;

    background-size: cover;
  }

}
